@use "./variables" as *;

body {
  font-family: var(--font-sans) !important;
}

.bg-gradient-top-bottom {
  background-image: linear-gradient(
      to bottom,
      rgba(59, 130, 246, 0.4),
      transparent 40%
    ),
    linear-gradient(to top, rgba(59, 130, 246, 0.4), transparent 40%);
  background-repeat: no-repeat;
  background-size: cover;
}
